{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mt-5 mb-3 fw-bold text-white">Essential’90s Alternative Albums</h1>
    <div class="d-flex justify-content-center">
        <div class="mt-5 text-center">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{{ disc.Picture }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ disc.Title }}</h5>
                <p class="card-text">{{ disc.Artist }}</p>
                <p class="card-text">{{ disc.Release_Year }}</p>
                <p class="card-text">{{ disc.Format }}</p>
                <a href="{% url 'disc-edit' disc.id %}"><button type="button" class="btn btn-outline-light">Edit</button></a>
                <a href="{% url 'disc-delete' disc.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                <a href="{% url 'discography' %}"><button type="button" class="btn btn-outline-light">Back to menu</button></a>
            </div>
        </div>
    </div>
{% endblock %}