{%load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css"/>
        <title>Discography</title>
        {% load bootstrap5 %}
    </head>
    <body style="background-image: url('https://i.etsystatic.com/41669309/r/il/d6ad92/4792548473/il_fullxfull.4792548473_b52j.jpg'); 
                background-size: cover;
                background-attachment: fixed";>
        {% block content %}
        {% endblock %}
    </body>
</html>
